/* Колір основного тексту #757575 */
/* Вторинний колір тексту #212121 */
/* акцент #2196F3 */
/* Білий колір #ffffff */
/* Вторинний колір фону #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-wh-color: #ffffff;
  --secondary-bg-color: #2f303a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-wh-color);
}

.list {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

address {
  font-style: normal;
}

/* COMPONENTS */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-item-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover {
  background-color: var(--accent-color);
}

.social-list-item-link:hover .social-list-item-svg {
  fill: var(--primary-wh-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  z-index: 1;
  /* transform: scale(1); */
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
  /* transform: scale(0.75); */
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;

  background-color: var(--primary-wh-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--primary-wh-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.modal-form-input:focus,
.modal-form-message:focus,
.close-btn:focus {
  outline: none;
}

.modal-form-input-block {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-input-label,
.modal-form-message-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-form-input-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
}

.modal-form-input:focus ~ .modal-form-input-svg {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-message:focus {
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-label {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;

  color: var(--primary-text-color);
}

.modal-form-check-label a {
  display: inline;
  text-decoration: underline;
  color: var(--accent-color);
}

.modal-form-check-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  margin-left: 12px;
  background-image: url(../images/icon.svg), url(../images/icon-check.svg);
  background-size: contain, 0;
}

.modal-form-check:checked + .modal-form-check-label::before {
  background-size: 0, contain;
}

.modal-form-btn:focus {
  outline: none;
}

.modal-form-btn {
  display: block;
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px 31px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-wh-color);
  background-color: var(--accent-color);

  border-radius: 4px;
  border-width: 0;
}

/* HEADER  */

header {
  background-color: var(--primary-wh-color);
}

header .container {
  display: flex;
  align-items: center;
}

/* LOGO */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--accent-color);
}

.page-header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: #000000;
}

.footer .logo {
  margin-bottom: 20px;
  color: var(--primary-wh-color);
}

/* SITE NAV */

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav > .list {
  display: flex;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 33px;
  padding-bottom: 32px;
  width: max-content;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .list-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .link.current::after {
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* HEADER CONTACTS */

.header-contacts {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts a + a {
  margin-left: 50px;
}
.header-contacts a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

.header-contacts-item-svg-1 {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-contacts-item-svg-2 {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/* FOOTER */

.footer {
  background-color: var(--secondary-bg-color);
}

.footer .container {
  display: flex;
}
/* CONTACTS SECTION */

.contacts-section {
  width: 300px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.footer-contacts {
  color: var(--primary-wh-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts a {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts a:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}

/* JOIN SECTION */

.join-section {
  margin-top: 72px;
  margin-bottom: 100px;
  margin-right: 93px;
}
.join-text {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-wh-color);
}

.join-section .social-list-item-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.join-section .social-list-item-svg {
  fill: var(--primary-wh-color);
}

.join-section .social-list-item-link:hover {
  background-color: var(--accent-color);
}

.join-section .social-list-item-link:hover .social-list-item-svg {
  fill: var(--primary-wh-color);
}

/* SUBSCRIBE SECTION */

.subscribe-section {
  margin-top: 72px;
  margin-bottom: 94px;
}

.subscribe-text {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-wh-color);
}

.subscribe-form-input:focus,
.subscribe-button:focus {
  outline: none;
}

.subscribe-form-input {
  width: 358px;
  margin-right: 8px;
  padding-left: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: var(--primary-wh-color);
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-form-input::placeholder {
  padding-top: 15px;
  font-size: 16px;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  position: relative;
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px 29px;
  text-align: left;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-wh-color);
  background-color: var(--accent-color);

  border-radius: 4px;
  border-width: 0;
}

.subscribe-button-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: #ffffff;
}
