h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
/* HERO */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  text-align: center;
  margin: 0 auto;
  max-width: 696px;
  padding-right: 15px;
  padding-left: 15px;
}

.hero-title {
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-wh-color);
}

.hero-button:focus {
  outline: none;
}

.hero-button {
  display: block;
  width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px 31px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-wh-color);
  background-color: var(--accent-color);

  border-radius: 4px;
  border-width: 0;
}

/* BENEFITS */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits .list {
  display: flex;
}

.benefits .list-item {
  width: 270px;
}

.benefits .list-item:not(:last-child) {
  margin-right: 30px;
}

.benefits .list-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefit-1::before {
  background-image: url(../images/benefits/antenna.svg);
}

.benefit-2::before {
  background-image: url(../images/benefits/clock.svg);
}

.benefit-3::before {
  background-image: url(../images/benefits/diagram.svg);
}

.benefit-4::before {
  background-image: url(../images/benefits/astronaut.svg);
}

.benefits-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.benefits-text {
  font-size: 14px;
  line-height: 1.72;
}

/* ACTIVITY */

.activity {
  padding-top: 0;
}

.activity-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.activity .list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.activity .list-item {
  position: relative;
  width: 370px;
  margin: 15px;
}

.activity .list-item-text {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-wh-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* TEAM */

.team {
  background-color: #f5f4fa;
}

.team .list {
  display: flex;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.team-member {
  text-align: center;
  padding-bottom: 30px;
  background: var(--primary-wh-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member img {
  margin-bottom: 30px;
}
.team-member .name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-member .occupation {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

/* CLIENTS */

.clients-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.clients .list {
  display: flex;
  justify-content: center;
}

.clients .list-item:not(:last-child) {
  margin-right: 30px;
}

.clients .list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .list-item-link:hover {
  border: 1px solid var(--accent-color);
}

.clients .list-item-link-svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .list-item-link:hover .list-item-link-svg {
  fill: var(--accent-color);
}
