.header-contacts {
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-contacts a + a {
  margin-left: 50px;
}
.header-contacts a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: $accent-color;
}

.header-contacts-item-svg-1 {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-contacts-item-svg-2 {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
