.team {
  background-color: #f5f4fa;
}

.team .list {
  display: flex;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
}

.team-member {
  text-align: center;
  padding-bottom: 30px;
  background: $primary-wh-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member img {
  margin-bottom: 30px;
}
.team-member .name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-member .occupation {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}
